body
{
    background-color: black;
}
.row /*searching for a way instead of overwriting*/
{
    margin: 0px;
    padding: 0px;
}


.homeContainer
{
    height: 400px;
    background-image: url("../images/homePic.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column; /*???*/
    justify-content: center;
    align-items: center;
    position: relative;
}
.layer
{
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    position: absolute;
}
.homeContainer h1
{
    color: white;
    font-size: 120px;
    font-family: 'Are You Serious', cursive;
    transition: transform 1s;
    z-index: 1;
}

.dateDiv
{
    width: 35%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: -50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: ghostwhite;
    border: 1px solid rgb(126, 0, 98);
    
}
.dateDiv h4, .dateDiv span
{
    text-shadow: 0px 0px 5px rgb(252, 129, 225), 1px 1px 1em rgb(252, 129, 225), 1px 5px 2em rgb(252, 129, 225), 1px 5px 2em rgb(252, 129, 225);
}
.dateDiv span
{
    font-size: 14px;
    font-weight: 400;
}

.header
{
    font-family: 'Caveat', cursive;
    font-size: 45px;
}
.aboutPic
{
    border-radius: 15px;
    width: 580px;
    transition: transform 1s;       
}
.aboutContainer p
{
    width: 80%;
}
.activityDiv
{
    width: 480px;
    height: 50px;
    background-color: rgb(126, 0, 98);
    margin: auto;
    padding-top: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.activityInfo
{
    width: 480px;
    margin: auto;
    display: none;
}
.lay
{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}
.ofrendas
{
    background-image: url("../images/ofrenda.jpg");
    background-size: cover;
    background-position: center;
}
.Catrina
{
    background-image: url("../images/catrinaFestival.jpg");
    background-size: cover;
    background-position: center;
}
.stories
{
    background-image: url("../images/festival.jpg");
    background-size: cover;
    background-position: center;
}

.fab
{
    margin-right: 10px;
    border: 1px solid rgb(126, 0, 98);
    padding: 10px;
}
.fab:hover, .msgBtn:hover
{
    background-color: rgb(109, 2, 86);
    border-color: rgb(109, 2, 86);
    transition: all 0.2s;
    cursor: pointer;
}
.msgBtn
{
    background-color: rgb(126, 0, 98);
    color: ghostwhite;
    border: 1px solid rgb(126, 0, 98);
    border-radius: 20px;
    padding: 3px 10px 5px;
}
.form-control:focus
{
    border: 2px solid rgb(126, 0, 98);
    box-shadow: none;
}
#charCounter
{
    font-size: 20px;
    font-weight: bold;
    color: rgb(126, 0, 98);
}

#pic1
{
    position: absolute;
    right: 20px;
    top: -50px;
    width: 200px;
    z-index: -999;
    transition: all 1s;
}
#pic2
{
    position: absolute;
    right: 180px;
    bottom: -100px;
    width: 200px;
    z-index: -999;
    transition: all 1s;
}
#pic3
{
    position: absolute;
    left: 40px;
    bottom: -140px;
    width: 200px;
    z-index: -999;
    opacity: 0;
    transition: all 1s;
}

@media (max-width: 830px) 
{
    .dateDiv
    {
        width: 100%;
    }
    .homeContainer h1
    {
        transform: scale(0.7);
        width: 640px;
    }
    .aboutPic
    {
        transform: scale(0.9);   
        width: 600px;   /*necessary for now as the scale depends on the original width */
        max-width: 100%;
    }
    .aboutContainer p
    {
        width: 85%;
    } 
    #pic1,#pic2
    {
        opacity: 0;
    }
    #pic3
    {
        opacity: 1;
        left: -5px;
        bottom: -170px;
        transform: scale(0.7);
    }
}
@media (min-width:829px) and (max-width: 1199.9px)
{
    .aboutPic
    {
        width: 600px;
    }
    .aboutContainer p
    {
        width: 75%;
    } 
    #pic2,#pic1
    {
        opacity: 0;
    }
    #pic3
    {
        opacity: 1;
    }
}
